<div class="w-full max-w-full overflow-hidden">
  <!-- About Section -->
  <div class="bg-white rounded-xl p-4 shadow-md mb-4">
    <div class="flex flex-row justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">🎵 Instruments</h1>
      <div
        class="flex flex-row space-x-2 text-gray-500 bg-gray-100 p-2 rounded-lg hover:bg-gray-200 cursor-pointer"
      >
        <i class="fas fa-pen-to-square text-md"></i>
        <p class="text-sm">Edit Profile</p>
      </div>
    </div>

    <div class="space-y-4">


     <div class="flex flex-wrap gap-2">
  @for (x of artistProfile.instruments; track x) {
    <span
      [ngClass]="[
        'text-' + x.inst_color + '-800',
        'bg-gradient-to-r',
        'from-' + x.inst_color + '-100',
        'to-' + x.inst_color + '-200',
        'font-semibold',
        'py-1.5',
        'px-4',
        'rounded-full',
        'text-sm',
        'shadow-sm'
      ]"
    >
      {{ x.instrument }}
    </span>
  }
</div>

    </div>
  </div>

</div>
 