<div class="w-full max-w-full overflow-hidden">
  <!-- About Section -->
  <div class="bg-white rounded-xl p-4 shadow-md mb-4">
    <div class="flex flex-row justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">About {{artistProfile.fname | titlecase}}</h1>
      <div
        class="flex flex-row space-x-2 text-gray-500 bg-gray-100 p-2 rounded-lg hover:bg-gray-200 cursor-pointer"
      >
        <i class="fas fa-pen-to-square text-md"></i>
        <p class="text-sm">Edit Profile</p>
      </div>
    </div>

    <div class="space-y-4">
      <div>
        <p class="text-lg text-black font-medium mb-2">Biography</p>
        <p class="text-sm text-gray-700 leading-relaxed">
          {{artistProfile.short_bio | titlecase}}
        </p>
      </div>

  
    </div>
  </div>

  <!-- Long Biography Section -->
  <div class="bg-white rounded-xl p-4 shadow-md">
    <div class="flex flex-row justify-between items-center mb-4">
      <h2 class="text-xl font-medium">Long Biography</h2>
      <div
        class="flex flex-row space-x-2 text-gray-500 bg-gray-100 p-2 rounded-lg hover:bg-gray-200 cursor-pointer"
      >
        <i class="fas fa-pen-to-square text-md"></i>
        <p class="text-sm">Edit Profile</p>
      </div>
    </div>

    <div class="space-y-4">
      <p class="text-sm text-gray-700 leading-relaxed">
         {{artistProfile.long_bio | titlecase}} </p>
     
    </div>
  </div>

  <div class="bg-white rounded-xl p-4 shadow-md mt-4">
    <div class="flex flex-row justify-between items-center mb-4">
      <div class="flex flex-row space-x-2">
        <i class="fas fa-music text-xl text-pont-green mt-1"></i>
        <h2 class="text-xl font-medium">Performance Type</h2>
      </div>

      <div
        class="flex flex-row space-x-2 text-gray-500 bg-gray-100 p-2 rounded-lg hover:bg-gray-200 cursor-pointer"
      >
        <i class="fas fa-pen-to-square text-md"></i>
        <p class="text-sm">Edit Profile</p>
      </div>
    </div>

    <div class="space-y-4">
      <div class="flex flex-wrap gap-2">
       @for (x of artistProfile.performance_type; track x) {
    <span
      class="bg-gray-100 text-black font-medium py-1 px-3 rounded-full text-sm"
      >{{ x.performance_type | titlecase }}</span>
  }
      </div>
    </div>

    <hr class="mt-4 mb-4" />
    <div class="flex flex-row space-x-2">
      <i class="fas fa-book text-xl text-pont-green mt-1"></i>
      <h2 class="text-xl font-bold">Education & Experience</h2>
    </div>
    <div class="space-y-4 mt-4">
      <div class="flex flex-col gap-2">

        @for (y of artistProfile.education; track y) {
        <div class="flex flex-row space-x-2 mb-0">
          <i class="fas fa-graduation-cap text-md text-gray-300 mt-1"></i>
          <p class="text-lg text-gray-700 font-medium mb-0">
            {{y.school | titlecase}}
          </p>
        </div>
        <p class="text-md text-gray-500 ml-8 mb-0">
          {{y.course | titlecase}}
        </p>
        <p class="text-md text-gray-500 ml-8 mb-4">Graduated {{y.year}}</p>
      }
      </div>
    

   
    </div>

    <hr class="mt-8 mb-8" />
    <div class="flex flex-row space-x-2">
      <i class="fas fa-award text-xl text-pont-green mt-1"></i>
      <h2 class="text-xl font-bold">Awards & Recognition</h2>
    </div>
    <div class="space-y-4 mt-4">
      <div class="flex flex-col">
         @for (y of artistProfile.awards; track y) {
        <div class="flex flex-row space-x-2 mb-0">
          <i class="fas fa-star text-md text-gray-300 mt-1"></i>
          <p class="text-lg text-gray-700 font-medium mb-0">
            {{y.award | titlecase}}
          </p>
        </div>
        <p class="text-md text-gray-500 ml-8 mb-6">
           {{y.description | titlecase}} - Year{{y.year}}
        </p>
      }
      </div>

     
    </div>
  </div>

  <div class="bg-white rounded-xl p-4 shadow-md mt-4">
    <div class="flex flex-row justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Contact Information</h2>
      <div
        class="flex flex-row space-x-2 text-gray-500 bg-gray-100 p-2 rounded-lg hover:bg-gray-200 cursor-pointer"
      >
        <i class="fas fa-pen-to-square text-md"></i>
        <p class="text-sm">Edit Profile</p>
      </div>
    </div>

    <div class="space-y-4">
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-row space-x-2 mb-0">
          <i class="fas fa-envelope text-lg text-pont-green mt-1"></i>
          <p class="text-lg text-gray-700 font-regular mb-0">
            {{artistProfile.email}}
          </p>
        </div>

        <div class="flex flex-row space-x-2 mb-0">
          <i class="fas fa-phone text-lg text-pont-green mt-1"></i>
          <p class="text-lg text-gray-700 font-regular mb-0"> {{artistProfile.phone}}</p>
        </div>

        <div class="flex flex-row space-x-2 mb-0">
          <i class="fas fa-globe text-lg text-pont-green mt-1"></i>
          <p class="text-lg text-gray-700 font-regular mb-0">
             {{artistProfile.website}}
          </p>
        </div>

        <div class="flex flex-row space-x-2 mb-0">
          <i class="fas fa-location-dot text-lg text-pont-green mt-1"></i>
          <p class="text-lg text-gray-700 font-regular mb-0">
             {{artistProfile.city | titlecase}}, {{artistProfile.country | titlecase}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
