<div class="w-full max-w-full overflow-hidden">
    <!-- About Section -->

   
    
  

<div class="" >
  <div class="bg-white rounded-xl p-4 shadow-md mb-4">
    <!-- Status Labels -->
    <div class="flex flex-row mb-6 space-x-6">
     <span class="text-gray-500">Events</span>
     <span class="text-gray-500">
      <i class="fas fa-calendar-days text-gray-500"></i>
      <span class="text-gray-500">
        {{ events.length }} events
      </span>
     </span>
    </div>

    <!-- Dynamic Event List -->
    <div *ngIf="!loading && events?.length === 0" class="text-gray-500 p-4">
      No events found.
    </div>

    <div *ngIf="error" class="text-red-600 p-4">
      {{ error }}
    </div>

    <div *ngIf="loading" class="text-gray-500 p-4">Loading events...</div>

    <div *ngFor="let ev of events" class="border-2 border-gray-300 rounded-lg mt-4 pb-4">
      <div class="flex flex-row justify-between items-center p-4">
        <h1 class="text-xl font-medium">{{ ev.title }}</h1>
        <div class="bg-green-200 text-green-800 px-3 py-1 rounded-lg text-sm" *ngIf="ev.edition">
          Edition: {{ ev.edition }}
        </div>
      </div>

      <div class="px-4 flex flex-col space-y-3">
        <div class="flex flex-row items-start space-x-2" *ngFor="let d of ev.event_dates">
          <i class="fas fa-calendar-days mt-1 text-lg text-gray-500"></i>
          <div class="text-gray-700">
            <div class="text-base">
              <span>
                {{ d.start_date }}<span *ngIf="d.end_date && d.end_date !== d.start_date"> - {{ d.end_date }} </span>
              </span>
              <span *ngIf="d.time"> : {{d.time}}</span>
            </div>
            <div class="text-sm text-gray-500" *ngIf="d.location">{{ d.location }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>