<div class="w-full max-w-full overflow-hidden">
    <!-- About Section -->
    <div class="bg-white rounded-xl p-4 shadow-md mb-4">
        <div class="flex flex-row justify-between items-center mb-4">
            <h1 class="text-2xl font-bold">Media</h1>
            <div
                class="flex flex-row space-x-2 text-gray-500 bg-gray-100 p-2 rounded-lg hover:bg-gray-200 cursor-pointer">
                <i class="fas fa-pen-to-square text-md"></i>
                <p class="text-sm">Edit Profile</p>
            </div>
        </div>

        <div class="space-y-4">
            <p class="text-xl font-medium">Videos</p>

 <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  @for (x of artistProfile.media_video; track x) {
    <div class="bg-gray-100 rounded-xl p-4 shadow-sm">
      <div class="flex flex-row">
        <img [src]="x.image" [alt]="x.title" class="w-24 h-24 rounded-xl mr-4" />
        <div>
          <h2 class="text-lg font-semibold">{{ x.title | titlecase }}</h2>
          <p class="text-sm text-gray-600">{{ x.description | titlecase }}</p>
          <button
            (click)="watchVideo(x.url)"
            class="mt-2 bg-pont-green text-white px-4 py-2 rounded-lg text-sm"
          >
            Watch Video
          </button>
        </div>
      </div>
    </div>
  }
</div>

        </div>

    </div>


        <div class="bg-white rounded-xl p-4 shadow-md mb-4">
        <div class="flex flex-row justify-between items-center mb-4">
                 <p class="text-xl font-medium">Music CD</p>
            <div
                class="flex flex-row space-x-2 text-gray-500 bg-gray-100 p-2 rounded-lg hover:bg-gray-200 cursor-pointer">
                <i class="fas fa-pen-to-square text-md"></i>
                <p class="text-sm">Edit Profile</p>
            </div>
        </div>

        <div class="space-y-4">
           

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                 @for (x of artistProfile.media_cd; track x) {
                <div class="bg-gray-100 rounded-xl p-4 shadow-sm">
                    <div class="flex flex-row">
                        <img [src]="x.image"
                            [alt]="x.title" class="w-24 h-24 rounded-full mr-4">
                        <div>
                            <h2 class="text-lg font-semibold">{{x.title | titlecase}}</h2>
                            <p class="text-sm text-gray-600">{{x.description | titlecase}}</p>
                            <button     (click)="watchVideo(x.url)"
                            class="mt-2 bg-pont-green text-white px-4 py-2 rounded-lg text-sm">Visit Link</button>
                        </div>
                    </div>
                </div>
            }
                



            </div>
        </div>

    </div>

    </div>