<footer class="bg-zinc-800 py-10 text-zinc-300">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 px-4">
    <div>
      <h3 class="text-xl font-semibold mb-2 text-orange-400">Pont Ar Gler</h3>
      <p class="text-sm">
        Soutenez la culture et vivez des expériences uniques
      </p>
    </div>

    <div>
      <h3 class="text-lg font-semibold mb-3 text-lime-400">Raccourcis</h3>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:text-white transition-colors duration-300">À propos</a></li>
        <li><a href="#" class="hover:text-white transition-colors duration-300">Contact</a></li>
        <li><a href="#" class="hover:text-white transition-colors duration-300">Artistes</a></li>
        <li><a href="#" class="hover:text-white transition-colors duration-300">Événements</a></li>
        <li><a href="/hosts" class="hover:text-white transition-colors duration-300">Connexion admin</a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-semibold mb-3 text-lime-400">Type d’événement</h3>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:text-white transition-colors duration-300">Festivals</a></li>
        <li><a href="#" class="hover:text-white transition-colors duration-300">Concert</a></li>
        <li><a href="#" class="hover:text-white transition-colors duration-300">Exposition</a></li>
        <li><a href="#" class="hover:text-white transition-colors duration-300">Lecture</a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-semibold mb-3 text-zinc-300">Suivez-nous</h3>
      <div class="flex space-x-4">
        <a href="#" class="hover:text-white transition-colors duration-300">
            <img src="../../../assets/images/icons/facebook.png" alt="Facebook" class="w-5 h-5 text-white" />
        </a>
        <a href="#" class="hover:text-white transition-colors duration-300">
             <img src="../../../assets/images/icons/instagram.png" alt="Facebook" class="w-5 h-5 text-white" />
        </a>
        <a href="#" class="hover:text-white transition-colors duration-300">
             <img src="../../../assets/images/icons/twitter.png" alt="Facebook" class="w-5 h-5 text-white" />
        </a>
        <a href="#" class="hover:text-white transition-colors duration-300">
             <img src="../../../assets/images/icons/envelope.png" alt="Facebook" class="w-6 h-6 text-white" />
        </a>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 mt-8 pt-8 border-t border-zinc-700 text-sm">
    <div class="flex justify-between items-center flex-col md:flex-row">
      <div class="text-sm">
        <span class="text-sm cursor-pointer hover:text-white transition-colors duration-300 underline" (click)="goToChangelog()">Version: {{version}}</span>
      </div>
      <div class="mt-4 md:mt-0">
        © Pont Ar Gler, tous droits réservés
      </div>
    </div>
  </div>
</footer>